.lm_m-4 {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 980px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    border-radius: .125rem;
}
user agent stylesheet
div {
    display: block;
}
body, html {
    font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
    color: rgba(0,0,0,.8);
    line-height: 1.2;
}
body {
    font-size: .875rem;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div {
    display: block;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
.XBlEsH {
    width: 48px;
    height: 48px;
    margin-right: 14px;
}
img {
    border: 0;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
._3XUN9L {
    font-size: 2rem;
    margin-right: .625rem;
}
user agent stylesheet
div {
    display: block;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
div {
    display: block;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
._1RuTS- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._2mt1s9 {
    font-size: 1rem;
    margin-right: -.625rem;
}
user agent stylesheet
div {
    display: block;
}
.shopee-drawer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
user agent stylesheet
div {
    display: block;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
.shopee-drawer .icon-help {
    stroke: currentColor;
}
svg:not(:root) {
    overflow: hidden;
}
._1TzzUv {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    padding-left: 1.1875rem;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
svg[Attributes Style] {
    x: 0;
    y: 0;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-drawer .icon-help {
    stroke: currentColor;
}
._1TzzUv {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    padding-left: 1.1875rem;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
circle[Attributes Style] {
    cx: 7.5;
    cy: 7.5;
    fill: none;
    r: 6.5;
    stroke-miterlimit: 10;
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-drawer .icon-help {
    stroke: currentColor;
}
._1TzzUv {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    padding-left: 1.1875rem;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
path[Attributes Style] {
    d: path("m 5.3 5.3 c 0.1 -0.3 0.3 -0.6 0.5 -0.8 s 0.4 -0.4 0.7 -0.5 s 0.6 -0.2 1 -0.2 c 0.3 0 0.6 0 0.9 0.1 s 0.5 0.2 0.7 0.4 s 0.4 0.4 0.5 0.7 s 0.2 0.6 0.2 0.9 c 0 0.2 0 0.4 -0.1 0.6 s -0.1 0.3 -0.2 0.5 c -0.1 0.1 -0.2 0.2 -0.3 0.3 c -0.1 0.2 -0.2 0.3 -0.4 0.4 c -0.1 0.1 -0.2 0.2 -0.3 0.3 s -0.2 0.2 -0.3 0.4 c -0.1 0.1 -0.1 0.2 -0.2 0.4 s -0.1 0.3 -0.1 0.5 v 0.4 h -0.9 v -0.5 c 0 -0.3 0.1 -0.6 0.2 -0.8 s 0.2 -0.4 0.3 -0.5 c 0.2 -0.2 0.3 -0.3 0.5 -0.5 c 0.1 -0.1 0.3 -0.3 0.4 -0.4 c 0.1 -0.2 0.2 -0.3 0.3 -0.5 s 0.1 -0.4 0.1 -0.7 c 0 -0.4 -0.2 -0.7 -0.4 -0.9 s -0.5 -0.3 -0.9 -0.3 c -0.3 0 -0.5 0 -0.7 0.1 c -0.1 0.1 -0.3 0.2 -0.4 0.4 c -0.1 0.1 -0.2 0.3 -0.3 0.5 c 0 0.2 -0.1 0.5 -0.1 0.7 h -0.9 c 0 -0.3 0.1 -0.7 0.2 -1 Z m 2.8 5.1 v 1.2 h -1.2 v -1.2 Z");
    stroke: none;
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-drawer .icon-help {
    stroke: currentColor;
}
._1TzzUv {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    padding-left: 1.1875rem;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
._1RuTS- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
user agent stylesheet
div {
    display: block;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
.sa1tIP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 300;
}
user agent stylesheet
div {
    display: block;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
.sa1tIP>a {
    color: #929292;
    text-decoration: none;
}
a {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a {
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.sa1tIP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 300;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
svg:not(:root) {
    overflow: hidden;
}
._1i_Fa8 {
    color: rgba(0,0,0,.54);
    font-size: .6875rem;
    margin-left: 7px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
svg[Attributes Style] {
    x: 0;
    y: 0;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
.sa1tIP>a {
    color: #929292;
    text-decoration: none;
}
a {
    cursor: pointer;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.sa1tIP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 300;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}

path[Attributes Style] {
    d: path("m 2.5 11 c 0.1 0 0.2 0 0.3 -0.1 l 6 -5 c 0.1 -0.1 0.2 -0.3 0.2 -0.4 s -0.1 -0.3 -0.2 -0.4 l -6 -5 c -0.2 -0.2 -0.5 -0.1 -0.7 0.1 s -0.1 0.5 0.1 0.7 l 5.5 4.6 l -5.5 4.6 c -0.2 0.2 -0.2 0.5 -0.1 0.7 c 0.1 0.1 0.3 0.2 0.4 0.2 Z");
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
._1i_Fa8 {
    color: rgba(0,0,0,.54);
    font-size: .6875rem;
    margin-left: 7px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.sa1tIP>a {
    color: #929292;
    text-decoration: none;
}
a {
    cursor: pointer;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.sa1tIP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 300;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
._8i4sPa {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: inherit;
}
a {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a {
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
svg:not(:root) {
    overflow: hidden;
}
._2w_yBr {
    margin-left: 9px;
    width: 10px;
    height: 10px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
svg[Attributes Style] {
    x: 0;
    y: 0;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
._8i4sPa {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: inherit;
}
a {
    cursor: pointer;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}

path[Attributes Style] {
    d: path("m 2.5 11 c 0.1 0 0.2 0 0.3 -0.1 l 6 -5 c 0.1 -0.1 0.2 -0.3 0.2 -0.4 s -0.1 -0.3 -0.2 -0.4 l -6 -5 c -0.2 -0.2 -0.5 -0.1 -0.7 0.1 s -0.1 0.5 0.1 0.7 l 5.5 4.6 l -5.5 4.6 c -0.2 0.2 -0.2 0.5 -0.1 0.7 c 0.1 0.1 0.3 0.2 0.4 0.2 Z");
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._8i4sPa {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: inherit;
}
a {
    cursor: pointer;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
._3Ss_L4 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    overflow: visible;
    padding: 1rem 1.25rem;
    background-color: #fff;
    margin-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f6a700;
}
div {
    display: block;
}
._2K2YrJ, ._3zwMEk {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    overflow: hidden;
}
._3zwMEk {
    border-radius: .125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: .75rem;
}
user agent stylesheet
div {
    display: block;
}
._3AfpvX {
    color: #ee4d2d;
    border-bottom: 2px solid #ee4d2d;
}
._2gOReK {
    font-size: 1rem;
    line-height: 1.1875rem;
    padding: 1rem 0;
    text-align: center;
    color: rgba(0,0,0,.8);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
user agent stylesheet
div {
    display: block;
}

._2gOReK {
    font-size: 1rem;
    line-height: 1.1875rem;
    padding: 1rem 0;
    text-align: center;
    color: rgba(0,0,0,.8);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
user agent stylesheet
div {
    display: block;
}
._2gOReK {
    font-size: 1rem;
    line-height: 1.1875rem;
    padding: 1rem 0;
    text-align: center;
    color: rgba(0,0,0,.8);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
user agent stylesheet
div {
    display: block;
}

._2K2YrJ {
    border-radius: .125rem;
}
._2K2YrJ, ._3zwMEk {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    overflow: hidden;
}
user agent stylesheet
div {
    display: block;
}
._3mCxFh ._3cSBz2 {
    float: left;
    min-width: 5rem;
    height: 5rem;
    border: 1px solid #f5f5f5;
    -webkit-flex-basis: 5rem;
    -ms-flex-preferred-size: 5rem;
    flex-basis: 5rem;
    background-size: cover;
}
svg:not(:root) {
    overflow: hidden;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
svg[Attributes Style] {
    x: 0;
    y: 0;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
linearGradient[Attributes Style] {
    transform: matrix(1, 0, 0, -1, 0, -810.11);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
stop[Attributes Style] {
    stop-color: rgb(196, 196, 196);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
stop[Attributes Style] {
    stop-color: rgb(241, 241, 241);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
stop[Attributes Style] {
    stop-color: rgb(196, 196, 196);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
linearGradient[Attributes Style] {
    transform: matrix(1, 0, 0, -1, 0, -810.11);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
linearGradient[Attributes Style] {
    transform: matrix(1, 0, 0, -1, 0, -810.11);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
stop[Attributes Style] {
    stop-color: rgb(182, 182, 182);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
stop[Attributes Style] {
    stop-color: rgb(182, 182, 182);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
linearGradient[Attributes Style] {
    transform: matrix(1, 0, 0, -1, 0, -810.11);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
stop[Attributes Style] {
    stop-color: rgb(185, 185, 185);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
stop[Attributes Style] {
    stop-color: rgb(191, 191, 191);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
element.style {
}
stop[Attributes Style] {
    stop-color: rgb(211, 211, 211);
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
._3PtH4->p:first-child {
    font-size: 1rem;
    color: rgba(0,0,0,.8);
}
._3PtH4->p {
    word-break: break-all;
    font-size: .875rem;
    color: rgba(0,0,0,.54);
    margin: 0 0 4px;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
._3PtH4->p:last-child {
    margin-bottom: 0;
}
._3PtH4->p {
    word-break: break-all;
    font-size: .875rem;
    color: rgba(0,0,0,.54);
    margin: 0 0 4px;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}

._3PtH4- {
    padding: 0 .625rem;
    width: -webkit-calc(100% - 10rem);
    width: calc(100% - 10rem);
}
user agent stylesheet
div {
    display: block;
}
._3mCxFh {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    padding: 12px 12px 8px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-decoration: none;
}
