body, html {
    font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
    color: rgba(0,0,0,.8);
    line-height: 1.2;
}
body {
    font-size: .875rem;
}
._3EzaaF {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1.5625rem 1.875rem;
    background: #fff;
}
._3lirD- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.DYdEdt {
    background: rgba(0,0,0,.03);
    padding: 1.75rem 2.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1.25rem;
}
.ZLNmFC {
    text-transform: capitalize;
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    font-weight: 500;
    cursor: default;
}
user agent stylesheet
div {
    display: block;
}
._345ptz {
    width: 25.875rem;
    height: 1.125rem;
    border: 1px solid rgba(0,0,0,.14);
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    border-radius: .125rem;
    margin: 0 .5rem 0 .875rem;
    outline: none;
    padding: .8125rem;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}   
._1rF7Gz {
    background: rgba(0,0,0,.1);
    cursor: default;
}
._3Bx3W1 {
    width: 6.25rem;
    height: 2.75rem;
    text-align: center;
    border-radius: .125rem;
    outline: none;
    color: #fff;
    font-weight: 500;
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    text-transform: capitalize;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
user agent stylesheet
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
._3xiulC .stardust-tabs-header {
    background-color: #fff;
    padding: 4px;
}
._3xiulC, ._3xiulC .stardust-tabs-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.stardust-tabs-header, .stardust-tabs-header__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.stardust-tabs-header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
._3xiulC .stardust-tabs-header__tab {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0;
    margin-top: 23px;
    margin-bottom: 9px;
    margin-right: 66px;
}
.stardust-tabs-header__tab--active {
    color: #ee4d2d;
}
.stardust-tabs-header__tab {
    font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.stardust-tabs-header, .stardust-tabs-header__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.stardust-tabs-header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
user agent stylesheet
ul {
    list-style-type: disc;
}
._1SQnkN, ._1u1NlS {
    text-transform: capitalize;
}
user agent stylesheet
div {
    display: block;
}
.stardust-tabs-header__tab--active {
    color: #ee4d2d;
}
.stardust-tabs-header__tab {
    font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.stardust-tabs-header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
user agent stylesheet
ul {
    list-style-type: disc;
}
._3xiulC .stardust-tabs-header__tab {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0;
    margin-top: 23px;
    margin-bottom: 9px;
    margin-right: 66px;
}
.stardust-tabs-header__tab {
    font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.stardust-tabs-header, .stardust-tabs-header__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.stardust-tabs-header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
user agent stylesheet
ul {
    list-style-type: disc;
}
._1SQnkN, ._1u1NlS {
    text-transform: capitalize;
}
user agent stylesheet
div {
    display: block;
}
.stardust-tabs-header__tab {
    font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.stardust-tabs-header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
user agent stylesheet
ul {
    list-style-type: disc;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 100em;
    margin-block-end: 100em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
._2tfuO3 {
    background: rgba(0,0,0,.03);
    width: auto;
    margin-top: 1.125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: rgba(0,0,0,.65);
    padding: 0 1.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
div {
    display: block;
}
._2oL61e {
    background: #fff;
    width: auto;
    height: 2.5rem;
    line-height: 2.5rem;
    color: rgba(0,0,0,.65);
    padding: 0 1.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
element.style {
    width: 980px;
    min-height: 1000px;
    position: relative;
    height: 552px;
}
div {
    display: block;
}
._3_EFXa, ._3u93Z4 {
    height: 100%;
}
._3_EFXa {
    position: relative;
}
._3_EFXa, ._3u93Z4 {
    height: 100%;
}
.L2tdnH {
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,.07);
    padding: 0;
}
._3AS8Su {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border-radius: .125rem;
    position: relative;
    overflow: visible;
}
._23d7ZA {
    position: relative;
}
div {
    display: block;
}
._2ZzUeN {
    width: 7.375rem;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,transparent),color-stop(.1875rem,#00bfa5));
    background: linear-gradient(90deg,transparent 0 .1875rem,#00bfa5 .1875rem);
}
._1P0jnY {
    font-size: 1rem;
}
._2slt0O {
    color: #fff;
    font-size: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.375rem;
    max-height: 2.75rem;
    text-transform: uppercase;
    text-align: center;
}
._1HBWVk {
    position: absolute;
    top: .3125rem;
    left: 0;
    width: .25rem;
    height: -webkit-calc(100% - .4375rem);
    height: calc(100% - .4375rem);
    background: radial-gradient(circle at 0 .25rem,transparent 0 .1875rem,#00bfa5 .1875rem);
    background-size: .25rem .625rem;
    background-repeat: repeat-y;
}
user agent stylesheet
div {
    display: block;
}
._35T8di {
    width: 100%;
    min-width: 0;
}
.uKqFae {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    height: -webkit-calc(100% - .125rem);
    height: calc(100% - .125rem);
    background: #fff;
    border-radius: 0 .125rem .125rem 0;
    border: 1px solid #e8e8e8;
    border-left: 0 solid transparent;
}
._2sirXe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._2d2nDC {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: 0 1.25rem;
    min-width: 0;
}

._2na5mP {
    font-weight: 500;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.25rem;
    max-height: 2.6875rem;
}
.EoUehr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: .3125rem;
}
._3OV0Iu {
    text-transform: capitalize;
}
._1GdX79 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #ff424f;
    margin-top: .625rem;
}
._1Jz8Z0 {
    font-size: .75rem;
}
._2sirXe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._2aYffI {
    padding: 1.125rem 1.25rem .625rem 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
._1e5UuW {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
._3Ljl9Q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._3veHFC {
    padding: 0;
    border: 0;
    position: relative;
    color: #ee4d2d;
    font-size: .875rem;
    margin-right: .75rem;
    cursor: pointer;
}
a {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a {
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
._2aYffI {
    padding: 1.125rem 1.25rem .625rem 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
._3Ljl9Q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._2OIZWn {
    justify-self: flex-end;
}
._1knPXH {
    text-transform: capitalize;
}
user agent stylesheet
div {
    display: block;
}
._2aYffI {
    padding: 1.125rem 1.25rem .625rem 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
._3Ljl9Q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._2OIZWn>a {
    color: #508be3;
}
a {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
._1knPXH {
    text-transform: capitalize;
}
._2aYffI {
    padding: 1.125rem 1.25rem .625rem 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
._3Ljl9Q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
