.pagination {
    margin-top: 40px;
}

.socials__form {
    margin-bottom: 0;
}

.form__help {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.form__help>a {
    font-size: 14px;
    color: #0357AB;
}

.password__label {
    position: relative;
    display: flex;
}

.password__label>input {
    flex: 1;
}

.show,
.hide {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #333;
}